/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/components/style.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.grad {
  background-image: linear-gradient(268deg, #6e2af5 26.38%, #3e91ec 54.22%);
}
.grad2 {
  background: linear-gradient(
    213deg,
    rgba(239, 251, 255, 0.5) 17.97%,
    rgba(208, 224, 229, 0.5) 99.83%
  );
}
.grad3 {
  background: linear-gradient(
    180deg,
    rgba(100, 159, 239, 0.2) 0%,
    rgba(52, 177, 217, 0.2) 100%
  );
}
.image {
  width: 144px;
  height: 108px;
  -o-object-fit: contain;
     object-fit: contain;
  padding-left: 12px;
}
.mobileImage {
  width: 80px;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
  padding-left: 8px;
}

